@model Citel.Models.ProdutoCategoriaViewModel
@{
    ViewData["Title"] = "Produto";
}


<div class="container">

    @if (TempData["ViewDataAlert"] != null)
    {
        <div class="alert alert-warning" role="alert">
            <strong> </strong>
            @TempData["ViewDataAlert"]
        </div>
    }

    <h3>Cadastro de Categoria</h3>

    @using (Html.BeginForm("Categoria", "Home", FormMethod.Post, new { id = "FormCategoria", name = "FormCategoria" }))
    {
        <div class="row" style="padding-bottom:20px;">
            <div class="col-md-7">
                <label for="NomeCategoria"><b>NOME CATEGORIA*</b></label>
                <input id="NomeCategoria" name="NomeCategoria" class="required form-control" labelForError="NomeCategoria" placeholder="" type="text" value="@Model?.NomeCategoria">
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div style="padding-top:20px;">
                    <button type="submit" value="CadastrarCategoria" class="btn btn-primary">Salvar</button>
                </div>
            </div>
        </div>
    }

</div>

<hr>
<div>
    <div class='row'>
        <div class="col-md-12">
            <table width="100%" border="1">
                <tr style="font-weight:bold">
                    <td width="20%">Nome Categoria</td>
                    <td width="20%">Ações</td>
                </tr>
                @if (Model?.Categoria != null)
                {
                    @foreach (var item in Model?.Categoria)
                    {
                        <tr>
                            <td>@item.NomeCategoria</td>
                            <td>
                                @Html.ActionLink("Editar", "EditarCategoria", "Home", new { ID = item.Id }, new { })
                                <span>| </span>
                                @Html.ActionLink("Excluir", "DeletarCategoria", "Home", new { ID = item.Id }, new { })
                            </td>
                        </tr>
                    }

                }

            </table>
        </div>
    </div>

</div>




